.h2-ourservices {
  padding-top: 130px;
  font-size: 30px;
  color: white;
}

.info-block,
p {
  color: black;
}

.title {
  margin-top: 80px;
  color: black;
}

.basic {
  border-color: black;
  color: black;
  width: 40px;
}

.m2 {
  border: solid lightgrey 1px;
}

.img-size {
  margin: 40px 10px 0 10px;
  width: 350px;
  height: 220px;
}
