#footer {
  border-top-color: black;
  background: rgb(2, 11, 94);
  min-height: 450px;
}

#footer p {
  color: white;
}

.footer-contact,
p {
  color: white;
}

.footer-title {
  padding-top: 100px;
  color: white;
}

.mt-footer {
  margin-top: 40px;
}

.footer-block {
  margin-top: 60px;
  text-align: center;
  margin-bottom: 100px;
}

.footer-block,
p {
  color: white;
}

i {
  color: rgb(255, 255, 255);
}
