#footer {
  border-top-color: black;
  min-height: 450px;
  background: lightgrey;
}

.footer-title {
  padding-top: 100px;
}

.mt-footer {
  margin-top: 40px;
}

.footer-block {
  margin-top: 60px;
  text-align: center;
  margin-bottom: 100px;
}

i {
  color: rgb(27, 27, 88);
}
